.list_container {
  background: lightgreen;
  height: 200px;
  overflow: auto;
}

.list_item {
  border: 1px solid black;
}

.row_1 {
  height: 100px;
}

.row_2 {
  height: 100px;
}

.list_elements {
  display: inline-block;
}
